/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* No scroll in safari chrome, opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


 body, html{
     height: 100%;
     background-color: #dddddd
 }  
 .home a, 
.main-nav__list__item a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.home a:hover,
.home a:active,
.main-nav__list__item a:hover,
.main-nav__list__item a:active{
    border-bottom: solid 1px  #f05454;
}
    

/* HEADER */
.main-header{
    background-color: #222831;
    position: fixed;
    width: 100%;
    font-size: 1.3rem;
    padding: 15px;
    top: 0;
    z-index: 1;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
}
    
    

.main-nav, .home
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.home{
    font-weight: bold;
    float: left;
}
    
.main-nav{
    float: right;

}

.main-nav__list{
   list-style: none;
}
   
.main-nav__list__item{
    
    display: inline-block;
    color: black;
    margin: 0 50px;
}
    
/* ========MAIN================= */
main{height: 100%;}

.main-intro
{
    height: 100%;
    position: relative;
    background-color: #f05454;
    background-size: cover;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}    
 /* main intro short */
.main-intro__short{
    position: relative;
    height: 50%;
}


.main-intro__short img
{
    border-radius: 50%;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}
    
    
.main-intro__intro h1{
    color: white;
}
.main-intro__intro div{
    line-height: 0.9;
    color: white;
    margin: 0 30%;
    font-size: .6rem;
}

    
.main-intro__intro__name{
    color: #222831;
    font-size: 4rem;
}
/* main intro long */
.main-intro__long{
    height: 50%;
    background-color: #dddddd;
    position: relative;
    text-align: center;
    color: #222831;
    width: 100%;
    padding-top: 3%;
}
.main-intro__long p{
    
    text-align: center;
    margin  : 0 30%;
    font-weight: bolder;
}
.current-work, .tech-stack{
    padding-top: 30px;
    width: 100%;
}
.current-work h1, .tech-stack h1{
    color: rgb(140, 140, 140);
    font-size: 2rem;
    
}    
.current-work h3{
    
    color: #222831;
    font-size: 1.2rem;
}
.current-work ol{
    line-height: 1;
    width: 30%;
    display: inline-block;
    text-align: center;
    list-style: disc;
    color: #222831;
    font-weight: bold;
}
 .tech{

    display: inline-block;
    margin: 1% 3%;
    padding : 1% 0;
    background-color: #222831;
    box-shadow: 1px 1px 3px 3px #00000075;
    width: 10%;
 }   
 .tech img{
     width: 50%;
     border-radius: 60%;
 }
 .tech h4 a{
    text-decoration: none;
    color: #dddddd;
}
.tech h4 a:hover,
.tech h4 a:active{
    border-bottom: 2px solid #f05454;
}

/* Main projects */
.main-project{
    color: white;
    font-family: 'Tajawal', sans-serif;
    position: relative;
    margin: 10% 0;
    height: 100%;
    width: 100%;
}


.main-project__bg{
    background-image: url('../images/portfolio_bg.jpg');
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
}
.main-project__content h1{font-size: 2rem;}

.main-project__content{
    position: absolute;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 3%;
}
.project{
    background-color: rgba(255, 255, 255, 0.227);
    padding: 2%;
    display: inline-block;
    margin: 3%;
    width: 15%;
    line-height: 1;
    border-radius: 5px;
    vertical-align: middle;
}

.project a{
    text-decoration: none;
    color: #dddddd;
}

.project img{
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

/* Main Contacts */

.main-contact{
    color: white;
    font-family: 'Tajawal', sans-serif;
    height: 42%;
    width: 100%;
    position: relative;
    margin-bottom: 3%;
}

.main-contact__bg{
    
    background-image: url('../images/contact.jpg');
    background-position: top;
    background-size: cover;
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 100%;
}
.main-contact__content h1{font-size: 2rem;}
.main-contact__controls{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #ffffff;
    height: 100%;

}
    
.main-contact__controls div{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2%;
}
textarea{
    width: 29%;
    padding: 10px;
    border: none;
}
input
{
    width: 14%;
    padding: 10px;
    border: none;
    margin: 10px 0px;
 }
 
input:focus,
textarea:focus
{
    outline: none !important;
    border:1px solid rgb(87, 87, 87);
}
button{
    width: 10%;
    padding: 13px 2px;
    text-align: center;
    border-radius: 2px;
    background-color: #f05454;
    color: whitesmoke;
    border: none;
    margin: 10px 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
    
.container{
    padding: 10px;
    font-size: 1.2rem;
}
    
footer{
    text-align: left;
    background-color: #222831;
    color: white;padding: 10px 0;
}
    