*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* No scroll in safari chrome, opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


 body, html{
     background-color: #dddddd
 }  
 .home{
    font-weight: bold;
    float: left;
    
}
.main-nav, .home
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

/* HEADER */
.main-header{
    background-color: #222831;
    position: fixed;
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    top: 0;
    z-index: 1;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
}
    
    
/* Bar */
.menu{
    margin: 0;
    background-color: #222831;
    padding: 0;
    display: none;
    border: none;
    color: white;
}
.main-nav{
    float: right;
}

.main-nav__list{
   list-style: none;
}
   
.main-nav__list__item{
    
    display: inline-block;
    color: black;
    margin: 0 30px;
}

.home a, 
.main-nav__list__item a{
    text-decoration: none;
    color: white;
}
.home a:hover,
.home a:active,
.main-nav__list__item a:hover,
.main-nav__list__item a:active{
    border-bottom: solid 1px  #f05454;
}



.show{
    display: block !important;
}


    
.nav-burger{
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #22283198;
    width: 80%;
    height: 100vh;
    text-align: left;
}

.nav-burger__list{
    list-style: none;
    
}
.nav-burger__list__item{
    padding: 3% 3%;
    margin: 2% 0;
    background-color: #222831;
}
 
 .nav-burger__list__item a{
    text-decoration: none;
    color: white;
}






/* MEDIA QUERIES NAV BAR */

@media (max-width: 37.5rem){
    .menu{
        display: inline-block;
    }
    .home-link{
        display: none;
    }

    .main-nav{
        display: none;
    }

}
