*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* No scroll in safari chrome, opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


 body, html{
     height: 100%;
     background-color: #dddddd
 }  
 .home a, 
.main-nav__list__item a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.home a:hover,
.home a:active,
.main-nav__list__item a:hover,
.main-nav__list__item a:active{
    border-bottom: solid 1px  #f05454;
}
    

/* HEADER */
.main-header{
    background-color: #222831;
    position: fixed;
    width: 100%;
    font-size: 1.3rem;
    padding: 5px;
    top: 0;
    z-index: 1;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
}
    
    

.main-nav, .home
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.home{
    font-weight: bold;
    float: left;
}
    
.main-nav{
    float: right;

}

.main-nav__list{
   list-style: none;
}
   
.main-nav__list__item{
    
    display: inline-block;
    color: black;
    margin: 0 50px;
}
    
/* ========MAIN================= */

.main-intro
{
    height: 100%;
    background-color: #f05454;
    background-size: cover;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}    
 /* main intro short */
.main-intro__short{
    height: 50%;
    padding: 3% 0px;
}


.main-intro__short img
{
    border-radius: 50%;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}
    
    
.main-intro__intro h1{
    color: white;
}
.main-intro__intro div{
    line-height: 0.9;
    color: white;
    margin: 0 30%;
    font-size: .6rem;
}

    
.main-intro__intro__name{
    color: #222831;
    font-size: 4rem;
}