/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body, html{
     height: 100%;
     background-color: rgb(53, 53, 53);
 }  
 .home a, 
.main-nav__list__item a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.home a:hover,
.home a:active,
.main-nav__list__item a:hover,
.main-nav__list__item a:active{
    border-bottom: solid 2px  #f05454;
}
    

/* HEADER */
.main-header{
    background-color: #222831;
    position: fixed;
    width: 100%;
    font-size: 1.3rem;
    padding: 15px;
    top: 0;
    z-index: 1;
}
    
    

.main-nav, .home
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.home{
    font-weight: bold;
    float: left;
}
    
.main-nav{
    float: right;

}

.main-nav__list{
   list-style: none;
}
   
.main-nav__list__item{
    
    display: inline-block;
    color: black;
    margin: 0 50px;
}
    
/* ========MAIN================= */
main{height: 100%;}

.main-intro
{
    height: 100%;
    position: relative;
    margin-top: 50px;
    background-color: #f05454;
    background-size: cover;
    background-position: left right;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}    
 /* main intro short */
.main-intro__short{
    position: relative;
    height: 48%;
    padding-bottom: 5%;
}


.main-intro__short img
{
    border-radius: 50%;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 130px;
}
    
    
.main-intro__intro h1{
    color: white;
}
.main-intro__intro div{
    line-height: 0.9;
    color: white;
    margin: 0 30%;
    font-size: .6rem;
}

    
.main-intro__intro__name{
    color: #222831;
    font-size: 4rem;
}
/* main intro long */
.main-intro__long{
    position: relative;
    margin-top: 2%;
    height: 48%;
    background-color: #dddddd;
    position: relative;
    padding-top: 5%;
    text-align: center;
    color: #222831;
}
.main-intro__long p{
    text-align: center;
    margin  : 0 30%;
    font-weight: bolder;
}
.current-work{
    padding: 20px 0;
}
.current-work ol{
    line-height: 1;

}

