*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #dddddd;
}
.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 200;
    text-align: center;
    top: 0;
    left: 0;
}
    
    
.loader h1{
    position: relative;
    top: 40%;
}


.headlines-parent{
    margin: 1.7rem auto;
    width: 100%;
    position: relative;
    background-color: #16191f;
    height: 21rem;
}

.article{
    display: none;
    background-color: #16191f;
    padding: 1rem;
    text-align: center;
}
.show{
    display: block;
}

.article-img{
    width: 50%;
    opacity: 0;
    height: 15rem;
    width: auto;
}
.show-article-img{
    opacity: 1;
    transition: opacity .5s;
    -webkit-transition: opacity 1s;
}
.article-a{
    text-decoration: none;
    color: white;
}
.article-heading{
    padding: 1rem 0;
    font-style: italic;
    height: 4rem;
}

.headlines-parent__left, 
.headlines-parent__right{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2rem;
    color: white;
    top: 50%;
    outline: none;
    padding: .3rem;
}
    

.headlines-parent__left{
    left : 2%;
    transform: rotateZ(180deg);
}

.headlines-parent__right{
    right : 2%;
    
}

.headlines-parent__right:hover,
.headlines-parent__left:hover,
.headlines-parent__right:active,
.headlines-parent__left:active
{
    background-color: black;
}

.headlines-parent__right:focus,
.headlines-parent__left:focus
{
    outline: none;
    border: none;
}

    
.category-news__categories{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;

}
.category-news__category{
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    background-color: #f05454;
    color: white;
}

.category-news__category:hover,
.category-news__category:active{
    background-color: #a83a3a;
    font-weight: bolder;
    transform: scale(1.05);
    transition: transform .5s;
}

.selected{
    background-color: #a83a3a;  
}
.category-news__container{
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.category-news__container h2{
    padding: 8rem;
    color: black;
    font-weight: bolder;
}
.category-news__article{
    display: flex;   
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 1rem;
    background-color: #222831;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}
.category-news__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.category-news__img{
    width: auto;
    height: 10rem;
    
}
.category-news__img:hover, 
.category-news__img:active{
    transform: scale(1.1);
    transition: transform .2s ease-in;
}
.category-news__heading{
    width: 15rem;
    height: auto;
    margin: 1rem 0 0 0 ;
}

